.has-text-blue {
  color: $blue !important;
}

.has-weight-light {
  font-weight: $weight-light !important;
}

.has-weight-normal {
  font-weight: $weight-normal !important;
}

.has-weight-semibold {
  font-weight: $weight-semibold !important;
}

.has-weight-bold {
  font-weight: $weight-bold !important;
}
